
$primary-font: Roboto,Helvetica,Arial,sans-serif;
$primary-color: #f6f6f6;
$primary-bg-color: #fdfdfd;
$primary-selected-bg-color: #fff3a0;
$primary-font-color: #000000;
$primary-font-size: 14px;

$light-font: 'Raleway', sans-serif;
$light-bg-color: #eeeeee;
$light-header-bg-color: #f4f4f4;
$light-font-color: #ffffff;
$light-font-color: #ffffff;
$light-font-size: 14px;

$ultralight-header-bg-color: #f9f9f9;
$ultralight-header-border-bg-color: #f1f1f1;

$light-info-font-color: #e3e3e3;

$dark-font-color: #000000;

$primary-large-margin: 20px;
$primary-large-padding: 10px;
$primary-small-margin: 10px;
$primary-small-padding: 5px;

$primary-header-font-size: 20px;

$panel-bg-color: #ffffff;
